Repository AgiliaErnis/restaurateur, pull requests merged in 2021-04, with the labels that each got.

#44 16 load data
  backend/db.go
Labels: backend

#51 17 Add unit tests for coordinates.go
  backend/coordinates_test.go
Labels: backend, tests

#52 14 Home page unit tests
  frontend/package-lock.json
  frontend/package.json
  frontend/src/college/CollegeSection.js
  frontend/src/components/cards/CardItem.js
  frontend/src/components/cards/Cards.js
  frontend/src/components/college/CollegeSection.js
  frontend/src/components/hero/search/Searchbox.css
  frontend/src/components/hero/search/Searchbox.js
  frontend/src/reportWebVitals.js
  frontend/src/setupTests.js
  frontend/src/test/CardItem.test.js
  frontend/src/test/Cards.test.js
  frontend/src/test/CollegeSection.test.js
  frontend/src/test/Districts.test.js
  frontend/src/test/HeroSection.test.js
  frontend/src/test/__snapshots__/Cards.test.js.snap
  frontend/src/test/__snapshots__/CollegeSection.test.js.snap
  frontend/src/test/__snapshots__/Districts.test.js.snap
Labels: frontend, tests

#45 15 Moved changes from the initial Prague college branch
  frontend/package-lock.json
  frontend/package.json
  frontend/public/images/Home/PC.png
  frontend/public/images/Home/lnch.jpg
  frontend/public/index.html
  frontend/src/app/App.js
  frontend/src/college/CollegeSection.js
  frontend/src/components/ScrollToTop.js
  frontend/src/components/cards/CardItem.js
  frontend/src/components/cards/Cards.js
  frontend/src/components/college/CollegeSection.css
  frontend/src/components/college/CollegeSection.js
  frontend/src/components/hero/HeroSection.css
  frontend/src/components/hero/search/Searchbox.css
  frontend/src/components/hero/search/Searchbox.js
  frontend/src/pages/Home.js
  frontend/src/reportWebVitals.js
  frontend/src/setupTests.js
  frontend/src/test/CardItem.test.js
  frontend/src/test/Cards.test.js
  frontend/src/test/CollegeSection.test.js
  frontend/src/test/Districts.test.js
  frontend/src/test/HeroSection.test.js
  frontend/src/test/__snapshots__/Cards.test.js.snap
  frontend/src/test/__snapshots__/CollegeSection.test.js.snap
  frontend/src/test/__snapshots__/Districts.test.js.snap
Labels: frontend

#37 07 http server
  .gitignore
  backend/README.md
  backend/coordinates.go
  backend/coordinates_test.go
  backend/db.go
  backend/go.mod
  backend/go.sum
  backend/main.go
  backend/restaurants.sql
  backend/scraper/scraper.go
  backend/scraper/scraper_test.go
  backend/scraper/tag_utils.go
Labels: backend

#54 25 update logo and top suggestions
  README.md
  frontend/public/favicon.ico
  frontend/public/images/Home/coffee.jpg
  frontend/public/images/Home/czech.jpg
  frontend/public/images/Home/glutenfree.webp
  frontend/public/images/Home/international.webp
  frontend/public/images/Home/salad.webp
  frontend/public/images/Home/vegan.jpeg
  frontend/public/images/TestImages/1.jpg
  frontend/public/images/TestImages/2.jpg
  frontend/public/images/TestImages/3.jpg
  frontend/public/images/TestImages/food.jpg
  frontend/public/images/TestImages/restaurant.jpg
  frontend/public/index.html
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/src/college/CollegeSection.js
  frontend/src/components/cards/Cards.js
  frontend/src/test/__snapshots__/Cards.test.js.snap
Labels: documentation, frontend

#60 Fix readme url
  README.md
Labels: bug

#66 32 add delivery options
  backend/db.go
  backend/main.go
Labels: backend

#62 23 Fixed pagination, console errors, added scroll to top func
  frontend/package-lock.json
  frontend/package.json
  frontend/public/manifest.json
  frontend/src/components/districts/District_item.js
  frontend/src/components/filtration/VerticalFilter.js
  frontend/src/components/footer/Footer.js
  frontend/src/components/forms/Modal.js
  frontend/src/components/navbar/Navbar.js
  frontend/src/components/restaurants/RestaurantItem.js
  frontend/src/components/restaurants/pagination/Pagination.js
  frontend/src/pages/Restaurants.js
  frontend/src/test/CardItem.test.js
  frontend/src/test/__snapshots__/Districts.test.js.snap
Labels: bug, frontend
