Repository AgiliaErnis/restaurateur, pull requests merged in 2021-05, with the labels that each got.

#71 33 enhanced filtration
  frontend/src/UserContext.js
  frontend/src/app/App.js
  frontend/src/components/button/Button.js
  frontend/src/components/cards/CardItem.js
  frontend/src/components/cards/Cards.js
  frontend/src/components/cards/TopSuggestionsData.js
  frontend/src/components/college/CollegeSection.css
  frontend/src/components/college/CollegeSection.js
  frontend/src/components/districts/District_item.js
  frontend/src/components/districts/Districts.css
  frontend/src/components/districts/Districts.js
  frontend/src/components/districts/PopularDistrictsData.js
  frontend/src/components/filtration/FiltersData.js
  frontend/src/components/filtration/VerticalFilter.css
  frontend/src/components/filtration/VerticalFilter.js
  frontend/src/components/footer/Footer.js
  frontend/src/components/forms/AnimatedForms.js
  frontend/src/components/forms/login/LogInForm.js
  frontend/src/components/forms/signup/SignUpForm.js
  frontend/src/components/navbar/MobileNavbar.js
  frontend/src/components/navbar/Navbar.js
  frontend/src/components/restaurants/RestaurantItem.css
  frontend/src/components/restaurants/RestaurantItem.js
  frontend/src/components/restaurants/pagination/Pagination.js
  frontend/src/pages/Restaurants.js
  frontend/src/test/__snapshots__/Cards.test.js.snap
  frontend/src/test/__snapshots__/Districts.test.js.snap
Labels: enhancement

#73 34 parse command line args
  backend/db.go
  backend/main.go
Labels: backend, enhancement

#72 26 implement search
  backend/README.md
  backend/db.go
  backend/main.go
Labels: backend, enhancement

#82 Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

#85 Release 0.1.1
  CHANGELOG.md
  frontend/package-lock.json
  frontend/package.json
  frontend/public/manifest.json
  frontend/src/components/districts/District_item.js
  frontend/src/components/filtration/VerticalFilter.js
  frontend/src/components/footer/Footer.js
  frontend/src/components/forms/Modal.js
  frontend/src/components/navbar/Navbar.js
  frontend/src/components/restaurants/RestaurantItem.js
  frontend/src/components/restaurants/pagination/Pagination.js
  frontend/src/pages/Restaurants.js
  frontend/src/test/CardItem.test.js
  frontend/src/test/__snapshots__/Districts.test.js.snap
Labels: enhancement

#86 42 implement authentication
  .github/workflows/backend.yml
  .gitignore
  backend/README.md
  backend/cmd/backend/main.go
  backend/coordinates.go
  backend/db.go
  backend/docs/docs.go
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/go.mod
  backend/go.sum
  backend/internal/api/api.go
  backend/internal/api/auth.go
  backend/internal/api/autocomplete.go
  backend/internal/api/response.go
  backend/internal/api/restaurants.go
  backend/internal/api/user.go
  backend/internal/api/utils.go
  backend/internal/db/db.go
  backend/main.go
  backend/pkg/coordinates/coordinates.go
  backend/pkg/coordinates/coordinates_test.go
  backend/pkg/scraper/scraper.go
  backend/pkg/scraper/scraper_test.go
  backend/pkg/scraper/tag_utils.go
  backend/pkg/scraper/tag_utils_test.go
Labels: backend, documentation, enhancement

#87 44 Search
  frontend/package.json
  frontend/src/app/App.js
  frontend/src/components/filtration/VerticalFilter.js
  frontend/src/components/hero/HeroSection.test.js
  frontend/src/components/hero/search/Searchbox.css
  frontend/src/components/hero/search/Searchbox.js
  frontend/src/components/navbar/MobileNavbar.js
  frontend/src/components/navbar/Navbar.js
  frontend/src/components/search/Searchbox.css
  frontend/src/components/search/Searchbox.js
  frontend/src/components/search/SuggestedRestaurantItem.js
  frontend/src/pages/Restaurants.js
Labels: enhancement, frontend

#99 52 workflow update
  .github/workflows/backend-main.yml
  .github/workflows/backend-release.yml
  .github/workflows/codeql.yml
  .github/workflows/frontend.yml
Labels: backend, frontend

#113 Cookie lifetime and refactor
  README.md
  backend/docs/docs.go
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/api/api.go
  backend/internal/api/auth.go
  backend/internal/api/autocomplete.go
  backend/internal/api/response.go
  backend/internal/api/restaurants.go
  backend/internal/api/user.go
  backend/internal/db/db.go
  frontend/src/app/App.js
  frontend/src/components/filtration/FiltersData.js
  frontend/src/components/forms/login/useLoginForm.js
  frontend/src/components/forms/signup/useForm.js
  frontend/src/components/restaurants/RestaurantItem.js
  frontend/src/components/search/Searchbox.js
  frontend/src/components/user/SavedRestaurants.js
  frontend/src/components/user/UserNavbar.js
  frontend/src/components/user/useChangePasswordForm.js
  frontend/src/components/user/useDeleteAccountForm.js
  frontend/src/components/user/useUpdateUsernameForm.js
  frontend/src/pages/Restaurants.js
Labels: backend, enhancement, frontend

#119 fix delete when user has saved restaurants, refactor db execs
  backend/internal/db/db.go
Labels: backend, bug

#88 31 database data testing
  .github/workflows/main.yml
  backend/internal/db/db_test.go
  frontend/build/asset-manifest.json
  frontend/build/favicon.ico
  frontend/build/images/Home/breakfast.webp
  frontend/build/images/Home/coffee.jpg
  frontend/build/images/Home/dinner.webp
  frontend/build/images/Home/hero.jpg
  frontend/build/images/Home/italian.jpg
  frontend/build/images/Home/salad.webp
  frontend/build/images/Home/search.png
  frontend/build/images/menu.png
  frontend/build/index.html
  frontend/build/logo192.png
  frontend/build/logo512.png
  frontend/build/manifest.json
  frontend/build/robots.txt
  frontend/build/static/css/main.53ff9f96.chunk.css
  frontend/build/static/css/main.53ff9f96.chunk.css.map
  frontend/build/static/js/2.615794b4.chunk.js
  frontend/build/static/js/2.615794b4.chunk.js.LICENSE.txt
  frontend/build/static/js/2.615794b4.chunk.js.map
  frontend/build/static/js/3.367d00ba.chunk.js
  frontend/build/static/js/3.367d00ba.chunk.js.map
  frontend/build/static/js/main.a5334450.chunk.js
  frontend/build/static/js/main.a5334450.chunk.js.map
  frontend/build/static/js/runtime-main.8cd6b9c9.js
  frontend/build/static/js/runtime-main.8cd6b9c9.js.map
  frontend/package.json
Labels: backend, enhancement

#121 Implemented View More
  Dockerfile
  docker-compose-dev.yml
  docker-compose.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/restaurants/PhotoSlider/PhotoSlider.css
  frontend/src/components/restaurants/RestaurantItem.css
  frontend/src/components/restaurants/RestaurantItem.js
  frontend/src/components/user/SavedRestaurants.js
  frontend/src/pages/Restaurants.js
Labels: enhancement, frontend

#117 60 store login state on refresh
  frontend/src/app/App.js
  frontend/src/components/filtration/VerticalFilter.js
  frontend/src/components/forms/AnimatedForms.js
  frontend/src/components/forms/login/LogInForm.js
  frontend/src/components/forms/login/useLoginForm.js
  frontend/src/components/navbar/Navbar.js
  frontend/src/components/restaurants/MenuModal.css
  frontend/src/components/restaurants/PhoneModal.css
  frontend/src/components/restaurants/PhoneModal.js
  frontend/src/components/restaurants/RestaurantItem.js
  frontend/src/components/restaurants/pagination/Pagination.js
  frontend/src/components/user/SavedRestaurants.js
  frontend/src/components/user/UserProfile.js
  frontend/src/components/user/useChangePasswordForm.js
  frontend/src/components/user/useDeleteAccountForm.js
  frontend/src/pages/Restaurants.js
Labels: bug, frontend

#123 update menus from command line
  backend/README.md
  backend/internal/api/api.go
  backend/internal/api/utils.go
Labels: backend, bug

#124 Update readme and changelog
  CHANGELOG.md
  README.md
  SECURITY.md
Labels: documentation
